.cal_monthly {}

.cal_monthly>.week_header {
    display: flex;
    flex-direction: row;
}

.cal_monthly>.week_header>div {
    flex: 1 1;
    text-align: center;
    font-weight: bold;
}

.cal_monthly>.week {
    display: flex;
    flex-direction: row;
}

.cal_monthly>.week>.day {
    flex: 1 1;
    border: 1px solid #333;
    padding: 1em;
}

.cal_monthly>.week>.day.out_of_range {
    opacity: 0.3;
}

.cal_monthly>.week>.day.today {
    background: #444;
}

.cal_monthly>.week>.day>div:nth-child(1) {
    text-align: center;
}

.cal_daily {
    display: flex;
    flex-direction: column;

    --hour_height: 4em;

    height: 100vh;
    /* testing */
}

.cal_daily>.head,
.cal_daily>.body {
    display: flex;
    flex-direction: row;
}

.cal_daily>.body {
    flex: 1 0;
    overflow-y: scroll;
}

.cal_daily>.head {
    flex: 0 0;
}

.cal_daily>.body>.times,
.cal_daily>.head>.times {
    flex: 0.5 0;
    min-width: 5em;
}

.cal_daily>.body>.times {
    display: flex;
    flex-direction: column;
}

.cal_daily>.body>.times>div {
    flex: 1 0;
    border-top: 1px solid #444;
    text-align: end;
    min-height: var(--hour_height);
}

.cal_daily>.body>.day,
.cal_daily>.head>.day {
    flex: 1 1;
}

.cal_daily>.head>.day {
    border: 1px solid #f0f;
}

.cal_daily>.body>.day {
    border: 1px solid #333;
    min-height: calc(24 * var(--hour_height));
    position: relative;
}

.cal_daily>.body>.day>.event {
    border: 1px solid #07f;
    background: #07f1;

    position: absolute;
    left: calc(100% * var(--track_i) / var(--track_n));
    width: calc(100% / var(--track_n));
    top: calc(var(--hour_height) * var(--start_hrs));
    height: calc(var(--hour_height) * var(--len_hrs));
}

.cal_daily>.body>.day>.event.cut_start {
    border-top: 2px solid #ff0;
}

.cal_daily>.body>.day>.event.cut_end {
    border-bottom: 2px solid #ff0;
}

.cal_daily>.body>.day.today {
    background: #444;
}