.chip {
    display: inline-block;
    text-wrap: nowrap;
    max-width: 10em;
    overflow-x: scroll;
    background: var(--chip_bg);
    color: var(--chip_fg);
    border-left: .25em solid var(--chip_border);
    vertical-align: text-bottom;
    /* border-radius: 2em; */

    margin: 0.25em 0.25em;
    padding: 0.2em 0.5em;
    padding-right: 0.75em;
}